@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
* {
    font-family: 'Kumbh Sans', sans-serif;
}

.remove-btn, .edit-btn {
    margin-right: 0.5rem;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}